<br><br><br>

<div>
    <h1 style="
    color: white;
    font-size: 30px; 
            text-align: center;
            justify-content: center;
            display: inline-block;
            left: 50%;
            font-weight:bold ;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 10px;
            padding-bottom: 15px;
            font-size: 170%;
            width: 500px;
           height: 20px;
           margin-left: 25%;
           background:blueviolet;
           border-radius: 10px;
          ">TRANSACTION TRAVERSING WORKFLOW</h1>
</div>
<br>
<div class="container">

    <div class="threeholder">
        <div class="threeone">

            <div class="circlepic">
            </div>
            <div class="circleborder">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-8 -8 40 40" id="upload">
                    <path
                        d="M8.71,7.71,11,5.41V15a1,1,0,0,0,2,0V5.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42l-4-4a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-4,4A1,1,0,1,0,8.71,7.71ZM21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V13a1,1,0,0,0-2,0v6a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12Z">
                    </path>
                </svg>


                <h4>STEP 1 - FILE UPLOAD</h4>
                <p> A feature allowing users to upload files from their local devices to the website.</p>
            </div>
        </div>
        <div class="threetwo">
            <div class="circlepic">

            </div>
            <div class="circleborder">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    width="80" height="75" viewBox="-45 -45 300 300" xml:space="preserve">

                    <defs>
                    </defs>
                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                        transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                        <path
                            d="M 43.121 62.779 c -0.046 0 -0.093 -0.001 -0.14 -0.002 c -1.375 -0.039 -2.672 -0.642 -3.588 -1.666 L 26.376 46.546 c -1.84 -2.059 -1.663 -5.22 0.396 -7.06 c 2.059 -1.842 5.22 -1.663 7.06 0.396 l 9.492 10.621 l 31.347 -31.346 c 1.951 -1.952 5.119 -1.952 7.07 0 c 1.953 1.953 1.953 5.119 0 7.071 L 46.656 61.314 C 45.717 62.254 44.445 62.779 43.121 62.779 z"
                            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                            transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        <path
                            d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 8.231 0 16.286 2.244 23.292 6.491 c 2.362 1.431 3.116 4.505 1.686 6.867 c -1.432 2.362 -4.506 3.117 -6.868 1.685 C 57.666 11.744 51.403 10 45 10 c -19.299 0 -35 15.701 -35 35 s 15.701 35 35 35 s 35 -15.701 35 -35 c 0 -1.487 -0.095 -2.987 -0.28 -4.458 c -0.348 -2.74 1.592 -5.242 4.332 -5.589 c 2.74 -0.349 5.241 1.593 5.588 4.332 C 89.879 41.172 90 43.094 90 45 C 90 69.813 69.813 90 45 90 z"
                            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                            transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                    </g>
                </svg>

                <h4>STEP 2 - FILE VALIDATE</h4>
                <p>The process of verifying the integrity, format, and content of a file to ensure it meets specific
                    criteria or security standards.</p>
            </div>

        </div>
        <div class="threethree">
            <div class="circlepic">

            </div>


            <div class="circleborder">
                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" viewBox="-10 -10 60 60"
                    xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path style="fill:#010002;" d="M40.702,23.597c-0.252-0.684-0.777-1.266-1.51-1.554l-6.291-3.167
            c-0.147-0.057-0.297-0.095-0.447-0.126V0H9.179v34.332l14.863,0.002c-0.004,1.518-0.039,9.412-0.039,9.412h11.455l5.279-17.255
            C41.133,25.483,41.081,24.435,40.702,23.597z M10.925,1.745h19.783v29.593c-0.481-0.217-0.93-0.619-1.286-1.337v-5.525
            c0-1.928,0.188-3.491-1.793-3.491s-3.587,1.563-3.587,3.491v8.111H10.925L10.925,1.745L10.925,1.745z" />
                                <rect x="22.87" y="45.367" style="fill:#010002;" width="14.729" height="4.824" />
                            </g>
                        </g>
                    </g>
                </svg>

                <h4>STEP 3 - FILE SCREENING</h4>
                <p>A procedure of formally approving or authorizing a file's use, often associated with compliance and
                    legal requirements to prevent unauthorized access or usage.</p>
            </div>


        </div>
    </div>